body {
  width: 100%;
  height: 100%;
  margin: 0git;
  text-align: center;
}
 h1 {
   text-align: center;
}
img {
   text-align: center;
}

  .navbar {
    text-align: center;
  }
  
  .navbar a {
    padding: 0 10px;
    background-color: blueviolet;
  }



  .image-caption {
    font-size: 14px;
    text-align: center;
  }
  
  
  #featured-property p {
    width: 800px;
    margin: 20px auto;
    text-align: center;
  }




 
  
  #details div {
    float: left;
    background-color: aqua;
    text-align: center;
    width: 25%;
  }
